.product {
  color: #0f2137;
  background-color: #ffffff;
  border: 1px solid #e3e4e8;
  border-radius: calc(1.5 * 4px);
  width: 100%;
  padding: 1rem 0.75rem 0.563rem;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product:not(:last-child) {
  margin-bottom: 1rem;
}

.product-title {
  font-size: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 1rem;
  white-space: nowrap;
}

.productBody {
  margin: 0 0 1rem;
}

.action_bar {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #e3e4ee;
  padding-top: 0.5rem;
}

.actionBarItem {
  cursor: pointer;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.actionBarItem:hover {
  background-color: #f4f5f9;
}

.actionBarItem:global(.active) {
  color: #62bfad;
}

.actionBarItemLabel {
  margin-left: 0.5rem;
}
